table thead th {
    text-align: center;
    text-transform: uppercase;
}

.course-thumbnail {
    width: 45px;
}

.course-name {
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
}

.course-text {
    text-align: center;
}